body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
button{
    display: flex;
    padding: 15px;
}

.container{
    display: flex; 
    justify-content: center;
    align-items: center; 
    padding: 12px;
    margin: 20px;
}

.grid{
    display: flex;
    width: auto;
    background-color: white;
    flex-wrap: wrap;
    border: solid 5px black;
}

.quadrado{
    display: flex;
    width: 160px;
    height: 160px;
    flex: auto;
    border: solid 1px violet ;
    opacity: 20%;
}

.btn{
    display: flex;
    margin-bottom: auto;
    margin-right: 40px;
}